page-profile {
    .section-top{
        position: relative;
    }
    .overImg {
        border: 4px solid white;
        position: absolute;
        bottom: -25px;
        left: 18%;
        border-radius: 90px;
    } 
    .section-top > .profileBckImg {
        max-height: 300px;
        width:100%;
    }
    
    .section-two{
        margin-top: 40px;
    }
    .iconRightSpec{
        margin-right: 10px;
    }
    .floatRight{
        float: right;
    }
    .postImgSpec{
        max-height: 300px;
    }
}
