page-home {
    .toolbar-background-md, .toolbar-background-ios{
        background-color: #45619D;
    }
    .logoSpec{
        height: 65px;
    }
    .rightBlock > ion-row > ion-col > ion-list > .item-md{
        background-color: transparent;
        padding-left: 0px;
    }
    ion-navbar{
        padding-top: 0px !important;
    }
    .white{
        color: #FFF !important;
        font-weight: 100;
    }
    .ion-input > .text-input {
        color: #FFF !important;
    }
    .loginBTN{
        margin-top: 20px;
    }
    .grid{
        padding: 0px;
    }
    .item-md{
        padding: 0px !important;
    }
    ion-item{
        background-color: transparent !important;
    }
    .list-md .item-input:last-child{
        border-bottom: 1px solid #8c7a7a !important;
    }
    .formSpacing > ion-col > ion-list{
        margin: 0px;
    }
    .elementSpacing{
        margin-right: 10px;
    }
    hr{
        border-width: 1px;
        color: grey;
    }
    .links > span {
        color: blue;
    }
    .copyright{
        font-size: 12px;
    }
    .mobile {
        .logoSpec {
            height: 50px;
            width: 60%;
            align-self: center;
        }
        .list-ios > .item-block:first-child{
            border-top: none;
        }
        .item-ios{
            padding-left: 0px;
        }
    }
}
